<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="QLBHContext"
			 connectionString="Server=.\SQLEXPRESS;Database=QLBH_NET9;
			 Integrated Security=True;MultipleActiveResultSets=True;
			 TrustServerCertificate=True"
			 providerName="System.Dât.SqlClient"/>
	</connectionStrings>
</configuration>